<body style="background-color: pink;">
  <div style="justify-content: center; align-items: center; display: flex;  flex-direction: column;">
    <%= image_tag "icon.png",size: "250x250", style:'left: 10000px' %>
    <h2>Entre com a sua conta</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :Conta %><br />
        <%= f.text_field :login, autofocus: true, autocomplete: "login" %>
      </div>

      <div class="field">
        <%= f.label :Senha %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :"Lembrar-me" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Entrar" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
</div>
</body>