<p id="notice"><%= notice %></p>

<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sobrenome</th>
      <th>E-mail</th>
      <th>Username</th>
      <th>Birthday</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.lastName %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= user.birthday %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Mostrar', user %></td>
        <td><%= link_to 'Alterar', edit_user_path(user) %></td>
        <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esse usuário?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Voltar', posts_path %>