<%= form_with(model: post, local: true, remote: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_area :post ,size: "50x6", style: 'resize: none' %>
  </div>

  <%= form.hidden_field :date ,value: Time.now.strftime("%Y-%m-%d")%>
  <%= form.hidden_field :time ,value: Time.now.strftime("%H:%M:%S")%>
  <%= form.hidden_field :user_id ,value: current_user.id%>

  <div class="actions">
    <%= form.submit 'Publicar' , style: 'width: 421px'%>
  </div>
<% end %>
