<p id="notice"><%= notice %></p>
  <body style="background-color: pink;>
  <div style="height: auto">

    <div class="btn-group" style="position: fixed;top:0px;left: 0px;right: 0px; height: 40px; background-color: #FF00FF">
      <%= image_tag "icon.png",size: "50x50", style:'left: 10000px' %>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: auto; right: 10px;"></button>
      <ul class="dropdown-menu">
        <% if policy(current_user).index? %>
            <li><%= link_to 'Contas', users_path ,style:'text-decoration:none;'%></li>
            <li><%= link_to 'Conta', current_user ,style:'text-decoration:none;'%></li>
        <% else %>
          <li><%= link_to 'Conta', current_user ,style:'text-decoration:none;'%></li>
        <% end %>
        <li><%= link_to "Sair", destroy_user_session_path, method: :delete ,style:'text-decoration:none;'%></li>
      </ul>
  
    </div>
    <div class="userInformation" style="position: fixed;top:50px;left: 10px;right: 0px;width: 250px;">
      <p><%= image_tag current_user.avatar.url(:show) %></p> 
      <h3><%= current_user.name + ' ' + current_user.lastName%></h3>
      <button type="button" class="btn btn-primary"><%= link_to 'Mensagens', mesages_path ,style:'text-decoration:none;'%></button>
    </div>
    <div style="position: relative; left: 250px; top: 30px;width: 500px; bottom: 0px; justify-content: center; align-items: left; display: flex; flex-direction: column; ">
      <button type="button" class="btn btn-primary" style="margin-left: auto; align-items: right; position: static;"><%= link_to 'Publicar', new_post_path %></button>
    
    <% @posts.each do |post| %>
      <div class="post" style="min-height: 50px; height: auto; background-color: white;">
          <p><%= "Spotted" %></p>
          <p><%= post.date.strftime("%d de %m de %Y") + ' às ' + post.time.strftime("%H:%M") %></p>
          <!-- <td><%= link_to 'Edit', edit_post_path(post) %></td> -->
          <p><%= post.post %>
          <%= link_to "Enviar mensagem", new_mesage_path(:destUser => post.user.id, :sentUser => current_user.id) %> 
          <% if %>
          <%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esse post?' } %>
          <% end %>
           </p>
      </div>
      <div style="height: 10px"></div>
    <% end %>
    </div>
  </div>
<br>

</body>