<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @post.post %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Time:</strong>
  <%= @post.time.strftime("%H:%M:%S") %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.name %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
