<%= form_with(model: mesage, local: true) do |form| %>
  <% if mesage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mesage.errors.count, "error") %> prohibited this mesage from being saved:</h2>

      <ul>
      <% mesage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mesage %><br />
    <%= form.text_area :mesage %>
  </div>
  
  <%= form.hidden_field :dataSent ,value: Time.now.strftime("%Y-%m-%d")%>
  <%= form.hidden_field :timeSent ,value: Time.now.strftime("%H:%M:%S")%>
  <%= form.hidden_field :destUser_id ,value: @destUser %>
  <%= form.hidden_field :sentUser_id ,value: @sentUser %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
