<p id="notice"><%= notice %></p>

<h1>Mesages</h1>

<table>
  <thead>
    <tr>
      <th>Mesage</th>
      <th>Sentuser</th>
      <th>Destuser</th>
      <th>Datasent</th>
      <th>Timesent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mesages.each do |mesage| %>
      <tr>
        <td><%= mesage.mesage %></td>
        <td><%= mesage.sentUser %></td>
        <td><%= mesage.destUser %></td>
        <td><%= mesage.dataSent %></td>
        <td><%= mesage.timeSent %></td>
        <td><%= link_to 'Show', mesage %></td>
        <td><%= link_to 'Edit', edit_mesage_path(mesage) %></td>
        <td><%= link_to 'Destroy', mesage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mesage', new_mesage_path %>
