<p id="notice"><%= notice %></p>

<p>
  <strong>Mesage:</strong>
  <%= @mesage.mesage %>
</p>

<p>
  <strong>Sentuser:</strong>
  <%= @mesage.sentUser %>
</p>

<p>
  <strong>Destuser:</strong>
  <%= @mesage.destUser %>
</p>

<p>
  <strong>Datasent:</strong>
  <%= @mesage.dataSent %>
</p>

<p>
  <strong>Timesent:</strong>
  <%= @mesage.timeSent %>
</p>

<%= link_to 'Edit', edit_mesage_path(@mesage) %> |
<%= link_to 'Back', mesages_path %>
