<h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html =>{:multipart => true}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.file_field :avatar %>
  </div>
  
  <div class="field">
    <%= f.label :Nome %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :Sobrenome %><br />
    <%= f.text_field :lastName %>
  </div>

  <div class="field">
    <%= f.label :"Data de nascimento" %><br />
    <%= f.date_field :birthday %>
  </div>

  <div class="field">
    <%= f.label :Gênero %><br />
    <%= f.select :genre, [['Feminino','f'],['Masculino','m'],['Outro','o']] %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :Username %><br />
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
